* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --golden-color: rgba(250, 213, 5, 0.778);
}

body {
    padding: 10px;
}

#video {
    max-height: 500px;
    max-width: 600px;
    border: 1px solid black;
}
#header-img {
    height: 30px;
    max-width: 400px;
    
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-bar {
    display: flex;
    flex: 1;
    justify-content: end;
}
#nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#nav-bar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
#nav-bar ul li a{
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: rgb(26, 26, 26);
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form h1 {
    text-align: center;
}
#form input{
    margin-bottom: 20px;
    width: 250px;
    padding: 5px;

}
#form button{
    margin-bottom: 20px;
    width: 150px;
    padding: 10px;
    background-color: var(--golden-color);
    border: none;
    text-align: center;
    font-weight: bold;
}

.sub-container .item{
    display: flex;
    margin-bottom: 20px;
}
.sub-container .item i {
    font-size: calc(1vw + 2.5em);
    margin: 10px;
    width: 200px;
    color: var(--golden-color);
    text-align: center;
}

.pricing-section {
    display: flex;

}
.pricing-section .price-tile {
    border: 1px solid gray;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.pricing-section .price-tile h3 {
    background-color: lightgray;
    font-weight: 300;
    font-size: calc(1vw + 12px);
    padding-bottom: 5px;
}

.pricing-section .price-tile ul {
    list-style: none;
}

.pricing-section .price-tile button {
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--golden-color);
    border: none;
}

.price {
    margin: 20px;
}